<%- include("../partials/header")%>
<div class="jumbotron">
    <h1 class="display-4">Course details for <%= course.name %></h1>
    <p class="lead"><%= course.description %></p>
    <hr class="my-4">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <p>Course Duration : <em><%= course.duration %> year</em> </p>
        </div>
        <div class="p-2 bd-highlight">
            <p>Course Fees : INR <em><%= course.fee %></em></p>
        </div>
    </div>
    <% if(currentUser) { %>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <a href="/courses/<%= course._id %>/edit" class="btn btn-warning btn-sm">EDIT</a>
        </div>
        <div class="p-2 bd-highlight">
            <form action="/courses/<%= course._id%>?_method=DELETE" method="post" class="d-flex-inline">
                <input class="btn btn-danger btn-sm" type="submit" value="DELETE">
            </form>
        </div>
    </div>
    <% } %>
  </div>
<%- include("../partials/footer")%>