<%- include("../partials/header")%>
<!-- create new student -->
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center">Confirm <%= student.name %> in <%= student.degreeId.degreeId %></h1>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
            <form action="/students/<%= student._id%>/confirm?_method=PUT" method="post">
                <div class="form-group row">
                    <label for="payment-bankName-edit" class="col-sm-2 col-form-label">Bank Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="payment[bankName]" id="payment-bankName-edit" placeholder="Bank Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payment-bankPaymentId-edit" class="col-sm-2 col-form-label">Chalan / DD number</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="payment[bankPaymentId]" id="payment-bankPaymentId-edit" placeholder="chalan or Demand Draft number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payment-bankPaymentTime-edit" class="col-sm-2 col-form-label">Chalan Date</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" name="payment[bankPaymentTime]" id="payment-bankPaymentTime-edit" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payment-amountMF-edit" class="col-sm-2 col-form-label">MF amount</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" name="payment[amountMF]" id="payment-amountMF-edit" value="<%= (student.gender === 'MALE') ? student.degreeId.feeBoysMF : student.degreeId.feeGirlsMF %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payment-amountBF-edit" class="col-sm-2 col-form-label">BF Amount</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" name="payment[amountBF]" id="payment-amountBF-edit" value="<%= (student.gender === 'MALE') ? student.degreeId.feeBoysBF : student.degreeId.feeGirlsBF %>"readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="payment-amountTotal-edit" class="col-sm-2 col-form-label">Total amount</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" name="payment[amountTotal]" id="payment-amountTotal-edit" value="<%= (student.gender === 'MALE') ? student.degreeId.feeBoysMF + student.degreeId.feeBoysBF : student.degreeId.feeGirlsMF + student.degreeId.feeGirlsBF %>" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <input class= "btn btn-primary btn-lg form-control" type="submit" value="Confirm">
                </div>
            </form>
        </div>
    </div>
<%- include("../partials/footer")%>