<%- include("../partials/header")%>
<!-- create new student -->
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center">Enter new student details</h1>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-6">
            <form action="/students" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="student[name]" id="student-name-new" placeholder="student Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="student[image]" id="student-image-new" placeholder="student image">
                </div>
                <div class="form-group">
                    <textarea name="student[description]" id="student-description-new" cols="30" rows="10" class="form-control" placeholder="student Description"></textarea>
                </div>
                <% courses.forEach((course) => { %>
                    <div class="custom-control custom-switch form-group">
                        <input type="checkbox" class="custom-control-input" id="customSwitch<%= course._id %>" name="course[<%= course._id %>]">
                        <label class="custom-control-label" for="customSwitch<%= course._id %>"><%= course.name %></label>
                    </div>
                <% }) %>
                <div class="form-group">
                    <input class= "btn btn-primary btn-lg form-control" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
<%- include("../partials/footer")%>