<%- include("../partials/header")%>
<!-- create new account -->
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center">Edit <%= account.name %></h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="<%= typeof acc_parent_type !== 'undefined' ? '/' + acc_parent_type : '' %><%= typeof acc_parent_id !== 'undefined' ? '/' + acc_parent_id : '' %>/accounts/<%= account._id%>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="account[name]" id="account-name-edit" value="<%= account.name%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="account[accnumber]" id="account-accnumber-edit" value="<%= account.accnumber%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="account[description]" id="account-description-edit" value="<%= account.description%>">
                </div>
                <div class="form-group">
                    <input class= "btn btn-primary btn-lg form-control" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
<%- include("../partials/footer")%>