<%- include("../partials/header")%>
<h1 class="text-center">Accounts List</h1>

<div class="row justify-content-center">
    <% accounts.forEach((account) => { %>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card text-center">
                <h5 class="card-header"><%= account.name %></h5>
                <div class="card-body">
                    <p class="card-text"><%= account.number %></p>
                    <a href="<%= typeof acc_parent_type !== 'undefined' ? '/' + acc_parent_type : '' %><%= typeof acc_parent_id !== 'undefined' ? '/' + acc_parent_id : '' %>/accounts/<%= account._id %>" class="btn btn-primary btn-sm">View More</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<% if( currentUser && currentUser.isAdmin )  { %>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="<%= typeof acc_parent_type !== 'undefined' ? '/' + acc_parent_type : '' %><%= typeof acc_parent_id !== 'undefined' ? '/' + acc_parent_id : '' %>/accounts/new" class="btn btn-primary btn-lg btn-block mt-3">Add New Account</a>
        </div>
    </div>
<% } %>
<%- include("../partials/footer")%>